# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Different Programming Languages in Data Science
- Libraries in these languages
- Jupyter Notebook tutorials
- Git and GitHub tutorials

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. NumPy

Data Science Tools |  
-------------------|
Juypter Notebook   |  
Apache Spark       |  
Apache Hadoop

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [2]:
minutes = 200
hours = minutes/60
hours
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Dhairya